:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --color-primary: #272727;
  --color-secondary: #666666;
  --color-tertiary: ;
}
body {
  font-family: var(--font-primary);
  margin: 0;
}
.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 15px;
  top: 20px;
  background-color: #151414;
  color: white;
  transition: 0.3s;
}
.container {
  min-width: 200px;
  max-width: 1264px;
  height: auto;
  margin: 0 auto;
  flex: 1;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.header {
  background: linear-gradient(
    to right,
    var(--color-primary) 50%,
    var(--color-secondary) 50%
  );
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  text-align: center;
}
.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
  white-space: nowrap;
}

.header a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 0 0 25px;
  font-size: 16px;
}
.header-title {
  width: 30%;
  font-size: 25px;
}
.menu {
  background-color: var(--color-secondary);
  height: inherit;
  width: 70%;
}
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.hero {
  background: linear-gradient(
    to right,
    var(--color-primary) 50%,
    #ECEAEA 50%
  );
  color: #fff;
  display: flex;
  /* height: 500px; */
}
.hero-title {
  width: 30%;
  display: inherit;
  align-items: center;
}
h1 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 3em;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #fff;
  position: absolute;
  margin: -2em 0 0 1em;
  z-index: 2;
}
h1 strong {
  font-size: 1.5em;
  font-weight: 700;
}
h1 span{
  font-size: .8em;
  font-weight: 700;
  color: black;
  background-color: yellow;
  padding: 2.5%;
  border-radius: 5px;
}
.hero-image {
  width: 70%;
  background: #ccc;
  overflow: hidden;
}
.hero-image img {
  width: 100%;
  height: 100%; 
}



@media screen and (max-width: 1143px) {
  h1{
    font-size: 2.6em;
  }
}
@media screen and (max-width: 1023px) {
  h1{
    font-size: 2.3em;
  }
}
@media screen and (max-width: 895px) {
  h1{
    font-size: 2em;
  }
}
@media screen and (max-width: 767px) {
  .burger-button {
    display: block;
  }
  .header {
    height: auto;
  }
  .container {
    background-color: var(--color-primary);
  }
  .header-title {
    width: auto;
  }
  .header ol {
    display: initial;
  }
  .header ol li {
    height: auto;
    text-align: center;
  }
  .header a {
    padding: 0;
    justify-content: center;
    height: 40px;
    font-family: var(--font-secondary);
    text-transform: initial;
    font-size: 1.4em;
  }
  .header .logo {
    text-align: center;
  }
  .menu {
    position: fixed;
    background-color: var(--color-secondary);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  .menu.is-active {
    left: 0;
  }
  .burger-button.is-active {
    background-color: #535353;
  }
  h1{
    font-size: 1.8em;
  }
}
@media screen and (max-width: 697px) {
  h1{
    font-size: 1.6em;
  }
}
@media screen and (max-width: 622px) {
  h1{
    font-size: 1.4em;
  }
}
@media screen and (max-width: 554px) {
  h1{
    font-size: 1.2em;
  }
}
@media screen and (max-width: 480px) {
  h1{
    font-size: 1em;
  }
}
@media screen and (max-width: 394px) {
  h1{
    font-size: .8em;
  }
}
@media screen and (max-width: 320px) {
  h1{
    font-size: .7em;
  }
}
@media screen and (max-width: 260px) {
  h1{
    font-size: .5em;
  }
}
