:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --color-primary: #272727;
  --color-secondary: #666666;
  --color-tertiary: ;
}
body {
  font-family: var(--font-primary);
  margin: 0;
}
a{
  text-decoration: none;
}
.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 15px;
  top: 20px;
  background-color: var(--color-primary);
  color: white;
  transition: linear 0.2s;
}
.container {
  min-width: 200px;
  max-width: 1264px;
  height: auto;
  margin: 0 auto;
  flex: 1;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  flex-direction: inherit;
}
.header {
  background: linear-gradient(
    to right,
    var(--color-primary) 50%,
    var(--color-secondary) 50%
  );
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  text-align: center;
}
.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
  white-space: nowrap;
}

.header a {
  color: #fff;
  text-transform: uppercase;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 0 0 25px;
  font-size: 16px;
}
.header-title {
  width: 30%;
  font-size: 25px;
}
.menu {
  background-color: var(--color-secondary);
  height: inherit;
  width: 70%;
}
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.hero {
  background: linear-gradient(to right, var(--color-primary) 50%, #eceaea 50%);
  color: #fff;
  display: flex;
  /* height: 500px; */
}
.hero-title {
  width: 30%;
  display: inherit;
  align-items: center;
}
h1 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 3em;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #fff;
  position: absolute;
  margin: -2em 0 0 1em;
  z-index: 2;
}
h1 strong {
  font-size: 1.5em;
  font-weight: 700;
}
h1 span {
  font-size: 0.7em;
  font-weight: 700;
  color: black !important;
  background-color: yellow !important;
  padding: 2.5%;
  border-radius: 5px;
}
.hero-image {
  width: 70%;
  background: #ccc;
  overflow: hidden;
}
.hero-image img {
  width: 100%;
  height: 100%;
}
.about {
  display: flex;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
}
.about h2 {
  font-size: 30px;
  white-space: nowrap;
  background: linear-gradient(to bottom, transparent 50%, yellow 50%);
  margin-top: 4%;
}
.about-image {
  margin: 4% 0;
  width: 30%;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.about-image img {
  width: 90%;
  height: auto;
}
.about-description {
  width: 70%;
  font-size: 20px;
  display: inherit;
  margin: 2%;
  flex-wrap: wrap;
  align-items: center;
}
.projects-title {
  display: flex;
  justify-content: center;
}
.projects-title h2 {
  margin: 50px 0;
  font-size: 30px;
  background: linear-gradient(to bottom, transparent 70%, yellow 30%);
}
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects-items {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects-details {
  box-shadow: 5px 5px 7px #999;
  margin-bottom: 7%;
  width: 30%;
  position: relative;
}
.projects-details img{
  width: 100%;
  height: 100%;
}
.projects-details p{
  color: black;
  position: absolute;
  width: 100%;
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
}
.projects-details p img{
  width: 30px;
  height: auto;
}
.projects-details:hover{
  background-color: yellow;
}
.projects-details:hover > img{
  opacity: 0.3;
}
.projects-details:hover > p{
  display: flex;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
}
.contact-title{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.contact .container{
  width: 100%;
}
.contact h3{
  width: 80%;
  margin-top: 25px;
  margin-bottom: 2px;
  font-size: 17px;
  padding: 5px;
  color: black;
  text-align: left;
  background-color: yellow;
}
.contact h2{
  margin-top: 2px;
}
.contact-description{
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: space-evenly;
}
.contact-description span{
  font-size: 20px;
  font-family: var(--font-secondary);
}
.contact-red_social{
  font-size: 35px;
  margin: 10px 0;
}
.contact-red_social a{
  color: white;
}
.footer{
  margin: 15px 0;
}




@media screen and (max-width: 1143px) {
  h1 {
    font-size: 2.6em;
  }
}
@media screen and (max-width: 1023px) {
  h1 {
    font-size: 2.3em;
  }
}
@media screen and (max-width: 895px) {
  h1 {
    font-size: 2em;
  }
  .projects-details {
    width: 45%;
  }
}
@media screen and (max-width: 767px) {
  .burger-button {
    display: block;
  }
  .header {
    height: auto;
  }
  .header .container {
    background-color: var(--color-primary);
  }
  .header-title {
    width: auto;
  }
  .header ol {
    display: initial;
  }
  .header ol li {
    height: auto;
    text-align: center;
  }
  .header a {
    padding: 0;
    justify-content: center;
    height: 40px;
    font-family: var(--font-secondary);
    text-transform: initial;
    font-size: 1.5em;
  }
  .header .logo {
    text-align: center;
  }
  .menu {
    position: fixed;
    background-color: var(--color-secondary);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  .menu.is-active {
    left: 0;
  }
  .burger-button.is-active {
    background-color: var(--color-secondary);
  }
  h1 {
    font-size: 1.8em;
  }
  .about {
    flex-wrap: wrap;
  }
  .about-image {
    order: 2;
  }
  .about h2 {
    font-size: 19px;
  }
  .about-description {
    order: 1;
    font-size: 10px;
  }
  .about-image {
    margin-top: 0;
  }
  .about-image img {
    width: 90%;
  }
  .projects-details {
    width: 45%; 
  }
  .projects-title h2{
    font-size: 19px;
  }
  .contact-description{
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .contact-description i{
    font-size: 15px;
    margin-top: 20px;
  }
  .contact-description span{
    font-size: 15px;
  }
  .contact h2{
    font-size: 19px;
  }
  .contact h3{
    font-size: 10px;
    padding: 3px;
  }
  .footer{
    font-size: 15px;
  }
  .contact-red_social{
    font-size: 25px;
    margin: 0;
  }
}
@media screen and (max-width: 697px) {
  h1 {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 622px) {
  h1 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 554px) {
  h1 {
    font-size: 1.2em;
  }
  .projects-details {
    width: 75%;
  }
  .about-image {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1em;
  }
  .projects-items {
    justify-content: center;
  }
}
@media screen and (max-width: 394px) {
  h1 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 260px) {
  h1 {
    font-size: 0.5em;
  }
}
