:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --color-primary: #272727;
  --color-secondary: #666666;
}
body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 45px;
  line-height: 1.4;
  color: #fff;
  margin-top: 0.5em;
  margin-left: 2.1em;
  white-space: nowrap;
  z-index: 2;
}
h1 strong {
  font-size: 1.5em;
  font-weight: 700;
}
h1 span {
  font-size: 0.7em;
  font-weight: 700;
  color: black;
  background-color: yellow;
  padding: 2.5%;
}
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  display: flex;
  height: inherit;
}
.burger-button {
  width: 7vw;
  height: 7vw;
  font-size: 3vw;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 3vw;
  top: 3vw;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: linear 0.2s;
  display: none;
}
.header-container,
.main-container,
.about-container {
  min-width: 200px;
  max-width: 1264px;
  height: inherit;
  margin: 0 auto;
  flex: 1;
  display: grid;
}
.header {
  background: linear-gradient(
    to right,
    var(--color-primary) 50%,
    var(--color-secondary) 50%
  );
  color: #fff;
  height: 80px;
}
.header-container {
  grid-template-columns: 35% 1fr;
  grid-template-areas: "title menu";
  text-align: center;
}
.header-container-title {
  grid-area: title;
  font-size: 25px;
}
.header-container-menu {
  grid-area: menu;
  background-color: var(--color-secondary);
  height: inherit;
}
.header ol li {
  height: inherit;
  white-space: nowrap;
}
.header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 0 0 25px;
  font-size: 16px;
}
.main {
  background: linear-gradient(to right, var(--color-primary) 50%, #eceaea 50%);
  color: #fff;
}
.main-container {
  width: 100%;
  grid-template-columns: 35% 1fr;
  grid-template-areas: "title image";
}
.main-container-title {
  grid-area: title;
  display: flex;
  align-items: center;
  background-image: url(../images/animationMain.png);
  background-repeat: no-repeat;
  background-position: 3% 2%;
  background-size: 70%;
}
.main-container-image {
  grid-area: image;
  display: flex;
}
.main-container-image img {
  width: 100%;
  height: 100%;
}
.about {
  background-color: rgb(230, 230, 230);
  font-family: var(--font-secondary);
}
.about-container {
  grid-template-columns: 40% 1fr;
  grid-template-areas: "image text";
}
.about-container-image {
  grid-area: image;
  text-align: center;
  background-image: url(../images/animationAbout.png);
  background-repeat: no-repeat;
  background-position: right 18% bottom 5%;
  background-size: 35%;
}
.about-container-description {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto 18% auto 0;
  font-size: 25px;
  background-image: url(../images/animation3.png);
  background-repeat: no-repeat;
  background-position: top right 5%;
  background-size: 50%;
}
.about-container-description h2 {
  width: 180px;
  white-space: nowrap;
  background: linear-gradient(to bottom, transparent 50%, yellow 50%);
}
.about-container-image img{
  margin: 20% 0;
  width: 380px;
}



/*
.about-image {
  margin: 3%;
  width: 30%;
  display: inherit;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.about-photo {
}
.about-description {
  width: 70%;
  padding: 3%;
  height: auto;
  font-size: 20px;
  display: inherit;
  margin: 3%;
  flex-wrap: wrap;
  background-image: url(../images/animation3.png);
  background-repeat: no-repeat;
  background-position: top 10% right 10%;
  background-size: 25%;
} */

@media screen and (max-width: 1264px) {
  h1 {
    font-size: 3.5vw;
  }
  .about-container-description {
    font-size: 2vw;
  }
  .about-container-description h2 {
    width: 14.5vw;
  }
  .about-container-image img{
    width: 30vw;
  }
}
@media screen and (max-width: 767px) {
  .burger-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger-button.is-active {
    background-color: var(--color-secondary);
  }
  .header {
    height: auto;
  }
  .header-container {
    background-color: var(--color-primary);
    grid-template-columns: 1fr;
    grid-template-areas: "title";
  }
  .header-container-title {
    font-size: 4vw;
  }
  .header ol {
    display: initial;
    height: auto;
  }
  .header a {
    padding: 0;
    justify-content: center;
    height: 35px;
    font-family: var(--font-secondary);
    text-transform: initial;
    font-size: 1.5em;
  }
  .header-container-menu {
    position: fixed;
    background-color: var(--color-secondary);
    z-index: 3;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  .header-container-menu.is-active {
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 3.5vw;
  }
  .about-container {
    grid-template-columns: 1fr;
    grid-template-areas: "text"
                         "image";
  }
  .about-container-image img{
    margin: 0 0 10%;
    width: 30%;
  }
  .about-container-description {
    margin: 5% 20% 2%;
    background-position: top right;
    background-size: 50%;
    font-size: 2.5vw;
  }
  .about-container-description h2 {
    width: 18vw;
  }
  .about-container-image {
    background-position: right 40% bottom 11%;
    background-size: 15%;
  }
}