body {
  font-family: "Montserrat", sans-serif;
  background-color: #222222;
  color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media (max-width: 767px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 11px;
  }
}

.header {
  min-width: 250px;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: initial;
  position: relative;
}

@media (max-height: 400px) {
  .header {
    height: auto;
  }
}

.header .content {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .content .title {
  font-size: 2.5em;
  margin-top: 0;
}

.header .content .title .important {
  color: #ffff00;
}

.header .content .title .pointer {
  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header .content .buttons a {
  font-size: 1.25em;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #ffff00;
  color: #ffff00;
  padding: 10px 20px;
  border-radius: 1px;
  outline: none;
  margin: 0;
  transition: all 0.3s ease-out;
  white-space: nowrap;
}

.header .content .buttons a:last-child {
  margin-left: 10px;
}

.header .content .buttons a:hover {
  background-color: #ffff00;
  color: #222222;
}

@media (max-width: 270px) {
  .header .content .buttons a:last-child {
    margin: 10px 0;
  }
}

@media (max-width: 270px) {
  .header .content .buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
}

@media (max-width: 767px) {
  .header .content {
    flex-direction: column;
    order: 2;
    width: 90%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .header .content {
    margin-left: 5%;
  }
}

.header .content-about {
  margin: 5% 0 5% 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(90% - 75px);
}

@media (max-width: 767px) {
  .header .content-about {
    margin: 15% 5%;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .header .content-about {
    padding: 0;
    margin: 5%;
    flex-direction: column;
    width: 80%;
  }
}

.header .content-about .text {
  width: 55%;
}

@media (max-width: 767px) {
  .header .content-about .text {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .header .content-about .text {
    width: 100%;
  }
}

.header .content-about .text h1 {
  color: #ffff00;
  font-size: 60px;
  margin: 0;
}

@media (max-width: 894px) {
  .header .content-about .text h1 {
    font-size: 3.125em;
  }
}

.header .content-about .text p {
  font-size: 18px;
  margin-bottom: 0;
}

@media (max-width: 894px) {
  .header .content-about .text p {
    font-size: 1em;
  }
}

.header .content-about .text p a {
  outline: none;
  text-decoration: none;
  color: #ffff00;
}

.header .content-about .text p a:hover {
  color: #dbdb00;
}

.header .content-about .skills {
  width: 45%;
  margin: 0 5%;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .header .content-about .skills {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .header .content-about .skills {
    margin: 0;
    width: 100%;
  }
}

.header .content-about .skills ul {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0;
}

.header .content-about .skills ul li {
  list-style: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  padding: 8px 6px;
  border-radius: 5px;
  margin: 3px;
  color: #f7f7f7;
}

.header .content-about .skills ul li i {
  margin-right: 5px;
}

.header .content-about .skills ul .ReactJs {
  background-color: #35abc9;
}

.header .content-about .skills ul .Html5 {
  background-color: #ff440b;
}

.header .content-about .skills ul .Css3 {
  background-color: #1b1fe0;
}

.header .content-about .skills ul .Pug {
  background-color: #a86454;
}

.header .content-about .skills ul .Pug img {
  width: 15px;
  margin-right: 5px;
}

.header .content-about .skills ul .Javascript {
  background-color: #ddca1f;
}

.header .content-about .skills ul .Sass {
  background-color: #c529ab;
}

.header .content-about .skills ul .Git {
  background-color: #e95217;
}

.header .content-about .skills ul .GitHub {
  background-color: #474747;
}

.header .content-about .skills ul .Php {
  background-color: #5e23bd;
}

.header .content-about .skills ul .Java {
  background-color: #f52c2c;
}

.header .content-about .skills ul .Sql {
  background-color: #8f8f8f;
}

.header .content-works {
  width: 100%;
  margin-right: 100px;
  margin-left: 25px;
  display: grid;
  justify-content: center;
  flex-direction: column;
  grid-template-rows: 105px 1fr;
}

@media (max-width: 767px) {
  .header .content-works {
    margin: 75px 0;
    width: 90%;
  }
}

@media (max-width: 650px) {
  .header .content-works {
    margin: 85px 0;
    grid-template-rows: auto auto;
  }
}

.header .content-works .title {
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .header .content-works .title {
    margin-bottom: 20px;
  }
}

.header .content-works .title h1 {
  color: #ffff00;
  font-size: 60px;
  margin: 0;
}

@media (max-width: 894px) {
  .header .content-works .title h1 {
    font-size: 3.125em;
  }
}

.header .content-works .works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 650px) {
  .header .content-works .works {
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
  }
}

.header .content-works .works .work {
  margin: 15px;
  cursor: pointer;
  width: 28%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (max-width: 667px) {
  .header .content-works .works .work {
    width: 28%;
  }
}

@media (max-width: 650px) {
  .header .content-works .works .work {
    margin: 10px auto;
    width: 90%;
  }
}

.header .content-works .works .work:hover .presentation {
  opacity: 1;
}

.header .content-works .works .work .presentation {
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  z-index: 999;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out;
  font-size: 1em;
}

.header .content-works .works .work .presentation span {
  font-size: 1.875em;
  display: inline;
  font-weight: bold;
}

.header .content-works .works .work .appPresupuestal {
  background-color: #7b4296;
}

.header .content-works .works .work .moonConf {
  background-color: #28527a;
}

.header .content-works .works .work .green {
  background-color: #0ea800;
}

.header .content-works .works .work .yellow {
  background-color: #eaee03;
  color: #000;
}

.header .content-works .works .work img {
  width: 100%;
  padding: 0;
  position: relative;
  border-radius: 10px;
}

.header .content-work {
  width: 100%;
  margin-right: 170px;
  margin-left: 95px;
  flex-direction: column;
}

@media (max-width: 767px) {
  .header .content-work {
    margin: 60px auto;
    width: 90%;
  }
}

.header .content-work .title {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.header .content-work .title h1 {
  color: #ffff00;
  font-size: 50px;
  margin: 0;
}

@media (max-width: 894px) {
  .header .content-work .title h1 {
    font-size: 3.125em;
  }
}

.header .content-work .text p {
  font-size: 1em;
}

.header .content-work .screenshot img {
  width: 100%;
}

.header .content-work .buttons {
  margin: 40px 0;
}

.header .content-work .buttons a {
  outline: none;
  text-decoration: none;
  color: #222222;
  background-color: #ffff00;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.125em;
  margin-right: 10px;
}

.header .content-work .buttons a:hover {
  background-color: #dbdb00;
}

@media (max-width: 480px) {
  .header .content-work .buttons a {
    padding: 10px;
  }
}

.header .content-contact {
  width: 50%;
  margin: 40px auto;
}

@media (max-width: 767px) {
  .header .content-contact {
    margin: 80px auto;
    width: 70%;
  }
}

@media (max-width: 480px) {
  .header .content-contact {
    width: 80%;
  }
}

.header .content-contact h1 {
  color: #ffff00;
  font-size: 60px;
  margin: 0;
  margin-bottom: 40px;
}

@media (max-width: 894px) {
  .header .content-contact h1 {
    font-size: 3.125em;
  }
}

@media (max-width: 767px) {
  .header .content-contact h1 {
    margin-bottom: 20px;
  }
}

.header .content-contact form {
  display: flex;
  flex-direction: column;
}

.header .content-contact form input {
  height: 25px;
  padding: 10px 20px;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  outline: none;
  background-color: #cfcfcf;
}

@media (max-width: 480px) {
  .header .content-contact form input {
    padding: 5px 10px;
  }
}

.header .content-contact form textarea {
  height: 160px;
  padding: 15px 20px;
  margin: 10px 0 40px;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  outline: none;
  background-color: #cfcfcf;
}

@media (max-width: 767px) {
  .header .content-contact form textarea {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .header .content-contact form textarea {
    padding: 10px;
    height: 140px;
  }
}

.header .content-contact form button {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  width: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: flex-end;
  cursor: pointer;
  outline: none;
  background-color: #ffff00;
  border: none;
  border-radius: 10px;
}

.header .content-contact form button:hover {
  background-color: #dbdb00;
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header::after {
    background-position: center right;
    opacity: 0.3;
  }
}

@media (max-width: 480px) {
  .header::after {
    background-position: center center;
    background-size: 80%;
    opacity: 0.1;
  }
}

.header .navigation {
  background-color: #191919;
  width: 80px;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .navigation .logo {
  width: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 25%;
}

.header .navigation .logo a {
  outline: none;
}

.header .navigation .logo a img {
  margin-top: 15px;
  width: 30px;
}

@media (max-width: 767px) {
  .header .navigation .logo a img {
    margin: 0;
  }
}

.header .navigation .logo .burger {
  display: none;
  text-decoration: none;
}

.header .navigation .logo .burger i {
  font-size: 22px;
  color: #f7f7f7;
}

.header .navigation .logo .burger:hover i {
  color: #ffff00;
}

@media (max-width: 480px) {
  .header .navigation .logo .burger {
    justify-content: flex-end;
  }
}

@media (max-height: 550px) {
  .header .navigation .logo {
    height: 10%;
  }
}

@media (max-width: 767px) {
  .header .navigation .logo {
    height: auto;
    width: 20%;
    justify-content: center;
  }
}

.header .navigation .menu,
.header .navigation .social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .navigation .menu li,
.header .navigation .social li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .header .navigation .menu,
  .header .navigation .social {
    flex-direction: row;
    margin: 0;
  }
}

.header .navigation .menu {
  height: 50%;
}

.header .navigation .menu .link {
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 65px;
  color: #f7f7f7;
}

.header .navigation .menu .link i {
  font-size: 1.8em;
  color: #f7f7f7;
}

@media (max-width: 767px) {
  .header .navigation .menu .link i {
    font-size: 1.8em;
  }
}

.header .navigation .menu .link span {
  display: none;
}

.header .navigation .menu .link:hover {
  color: #ffff00;
}

.header .navigation .menu .link:hover i {
  display: none;
}

.header .navigation .menu .link:hover span {
  display: flex;
}

@media (max-width: 767px) {
  .header .navigation .menu .link {
    width: 9vw;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .header .navigation .menu .link {
    width: 15vw;
    height: 50px;
  }
}

.header .navigation .menu .active {
  color: #ffff00;
}

.header .navigation .menu .active i {
  color: #ffff00;
}

@media (max-height: 550px) {
  .header .navigation .menu {
    height: 90%;
  }
}

@media (max-width: 767px) {
  .header .navigation .menu {
    height: 60px;
    position: fixed;
    justify-content: space-evenly;
    z-index: 998;
    bottom: 0;
    width: 100%;
    background-color: #151515;
    transition: all 0.3s ease-out;
  }
}

.header .navigation .show-menu {
  left: 0;
}

.header .navigation .social {
  height: 25%;
}

.header .navigation .social .link {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-decoration: none;
}

.header .navigation .social .link i {
  margin-bottom: 10px;
  font-size: 1.56em;
  color: #f7f7f7;
  transition: all 0.3s ease-out;
}

.header .navigation .social .link i:hover {
  color: #ffff00;
}

@media (max-width: 767px) {
  .header .navigation .social .link i {
    font-size: 1.56em;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .header .navigation .social .link {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .header .navigation .social .link {
    width: 30px;
  }
}

@media (max-height: 550px) {
  .header .navigation .social {
    display: none;
  }
}

@media (max-width: 767px) {
  .header .navigation .social {
    display: flex;
    margin-bottom: 0;
    height: auto;
    width: 20%;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .header .navigation {
    width: 100%;
    height: 60px;
    order: 1;
    flex-direction: row;
    align-items: center;
    position: fixed;
  }
}

.principal {
  height: 100vh;
}

.principal::after {
  content: "";
  background-image: url(../images/front.svg);
  background-repeat: no-repeat;
  background-position: center right 12%;
  background-size: 45%;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header-works {
  height: auto;
}

@media (min-width: 1372px) {
  .header-work {
    height: auto;
  }
}

@media (max-height: 735px) {
  .header-work {
    height: auto;
  }
}

@media (max-width: 767px) {
  .header-work {
    height: 100vh;
  }
}

@media (max-height: 611px) {
  .header-work {
    height: auto;
  }
}

@media (max-width: 480px) {
  .header-work {
    height: 100vh;
  }
}

@media (max-height: 506px) {
  .header-work {
    height: auto;
  }
}

@media (max-height: 672px) {
  .header-contact {
    height: auto;
  }
}

/*Header y navigation*/
/*# sourceMappingURL=portfolio.css.map */