@import "components/variable";

body {
  // min-height: 400px;
  font-family: $firstFont;
  background-color: $firstColor;
  color: $thirdColor;
  margin: 0;
  padding: 0;
  font-size: 16px;

  @media (max-width: $firstQuery) {
    font-size: 13px;
  }

  @media (max-width: $secondQuery) {
    font-size: 11px;
  }
}

@import "components/header"; /*Header y navigation*/
