doctype html
html(lang="es")
    head
        include includes/head.pug
    body
        header.header.about
            .content-about
                .text 
                    h1 Sobre mi
                    p Profesional dedicado al desarrollo web. Estudiante de la carrera de Informática e Informática. 
                    p Solucionador de problemas, integro y organizado. Me gustan las series, leer y caminar. 
                    p El área principal en la que trabajo es el desarrollo front-end, pero también me desenvuelvo en el backend.
                    p HTML, CSS, JS, creación de pequeñas aplicaciones web y codificación de diseños interactivos. 
                    p Visita mi 
                        a(href="https://www.linkedin.com/in/maverickchampi/") LinkedIn 
                        | para más detalles o simplemente 
                        a(href="contact.html") contáctame.
                .skills
                    ul
                        mixin item(name,value)
                            li(class=name)
                                i(class= value)
                                = name
                        +item('Html5','fab fa-html5')
                        +item('Css3','fab fa-css3-alt')
                        +item('Javascript','fab fa-js-square')
                        li.Pug 
                            img(src="images/pug.png", alt="Pug")
                            | Pug
                        +item('Sass','fab fa-sass')
                        +item('Git','fab fa-git-alt')
                        +item('GitHub','fab fa-github')
                        +item('Php','fab fa-php')
                        +item('Java','fab fa-java')
                        +item('Sql','fas fa-database')
            include includes/navigation.pug

        script.
            var elemento = document.getElementsByClassName("link");
            elemento[1].className += " active";
        include includes/js.pug