doctype html
html(lang="es")
    head
        include includes/head.pug
    body
        header.header.principal
            .content
                h1.title Hola,
                    br
                    | Soy 
                    span.important(translate="no") Maverick Champi
                    | ,
                    br
                    | desarrollador web
                    span.pointer .
                .buttons
                    a(href="works.html") Mi trabajo
                    a(href="contact.html") Contáctame!
            include includes/navigation.pug

        script.
            var elemento = document.getElementsByClassName("link");
            elemento[0].className += " active";
        include includes/js.pug
