doctype html
html(lang="es")
    head
        include includes/head.pug
    body
        header.header.work
            .content-work
                .title
                    h1 Nexflix
                .screenshot
                    img(src="https://i.ibb.co/1qhB1mh/nexflix-movil.png" alt="")
                .text
                    p Hice este proyecto en el 2021, intenté recrear la plataforma de streaming netflix con Html, css y Js, use Php solo para poder subirlo al servidor.
                .buttons
                    a(href="https://maverick-nexflix.herokuapp.com")
                        i.fas.fa-external-link-alt
                        |  Visitar sitio
                    a(href="https://github.com/maverickchampi/Nexflix")
                        i.fab.fa-github
                        |  Ver código
            include includes/navigation.pug

        script.
            var elemento = document.getElementsByClassName("link");
            elemento[2].className += " active";
        include includes/js.pug