doctype html
html(lang="es")
    head
        include includes/head.pug
    body
        header.header.header-works
            .content-works
                .title
                    h1 Trabajos
                .works
                    .work
                        a(href="central.html").presentation.green
                                span Central
                                br
                                | Php · Sql · Html · Css · Js
                        img(src="https://i.ibb.co/j6B4TQT/central.png", alt="Logo de Central")
                    .work
                        a(href="portfolio.html").presentation.yellow
                            span Portfolio
                            br
                            | Pug · Sass · Js · Php · Sql
                        img(src="https://i.ibb.co/0DXcGdM/portfolio.png", alt="Logo de Portfolio")
                    .work
                        a(href="nexflix.html").presentation
                            span Nexflix
                            br
                            | Php · Html · Css · Js
                        img(src="https://i.ibb.co/LSY1q92/nexflix.png", alt="Logo de Nexflix")
                    
            include includes/navigation.pug

        script.
            var elemento = document.getElementsByClassName("link");
            elemento[2].className += " active";
        include includes/js.pug