.content-work {
  // border: 1px solid red;
  width: 100%;
  margin-right: 170px;
  margin-left: 95px;
  flex-direction: column;

  @media (max-width: $firstQuery) {
    margin: 60px auto;
    width: 90%;
  }

  .title {
    display: flex;
    align-items: center;
    margin: 20px 0;

    @media (max-width: 650px) {
      // margin-bottom: 20px;
    }

    h1 {
      color: $secondColor;
      font-size: 50px;
      margin: 0;

      @media (max-width: 894px) {
        font-size: 3.125em;
      }
    }
  }

  .text {
    p {
      font-size: 1em;
    }
  }

  .screenshot {
    img {
      width: 100%;
    }
  }

  .buttons {
    margin: 40px 0;
    a {
      outline: none;
      text-decoration: none;
      color: $firstColor;
      background-color: $secondColor;
      padding: 15px;
      border-radius: 10px;
      font-size: 1.125em;
      margin-right: 10px;

      &:hover {
        background-color: #dbdb00;
      }

      @media (max-width: $secondQuery) {
        padding: 10px;
      }
    }
  }
}
