.content-contact {
  //   width: 100%;
  //   margin-right: 170px;
  //   margin-left: 95px;
  width: 50%;
  margin: 40px auto;

  @media (max-width: $firstQuery) {
    margin: 80px auto;
    width: 70%;
  }
  @media (max-width: $secondQuery) {
    width: 80%;
  }

  h1 {
    color: $secondColor;
    font-size: 60px;
    margin: 0;
    margin-bottom: 40px;

    @media (max-width: 894px) {
      font-size: 3.125em;
    }
    @media (max-width: $firstQuery) {
      margin-bottom: 20px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      height: 25px;
      padding: 10px 20px;
      margin: 10px 0;
      font-family: $firstFont;
      font-size: 1em;
      outline: none;
      background-color: rgb(207, 207, 207);

      @media (max-width: $secondQuery) {
        padding: 5px 10px;
      }
    }

    textarea {
      height: 160px;
      padding: 15px 20px;
      margin: 10px 0 40px;
      resize: none;
      font-family: $firstFont;
      font-size: 1em;
      outline: none;
      background-color: rgb(207, 207, 207);

      @media (max-width: $firstQuery) {
        margin-bottom: 20px;
      }
      @media (max-width: $secondQuery) {
        padding: 10px;
        height: 140px;
      }
    }

    button {
      font-family: $firstFont;
      font-size: 1em;
      width: 33%;
      padding-top: 10px;
      padding-bottom: 10px;
      align-self: flex-end;
      cursor: pointer;
      outline: none;
      background-color: $secondColor;
      border: none;
      border-radius: 10px;

      &:hover {
        background-color: #dbdb00;
      }
    }
  }
}
