.header {
  min-width: 250px;
  // min-height: 250px;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: initial;
  position: relative;

  .content {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 2.5em;
      margin-top: 0;

      .important {
        color: $secondColor;
      }

      .pointer {
        animation-name: parpadeo;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        -webkit-animation-name: parpadeo;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
      }
      @-moz-keyframes parpadeo {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @-webkit-keyframes parpadeo {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes parpadeo {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .buttons {
      a {
        font-size: 1.25em;
        font-weight: 400;
        text-decoration: none;
        border: 1px solid $secondColor;
        color: $secondColor;
        padding: 10px 20px;
        border-radius: 1px;
        outline: none;
        margin: 0;
        transition: all 0.3s ease-out;
        white-space: nowrap;

        &:last-child {
          margin-left: 10px;
        }

        &:hover {
          background-color: $secondColor;
          color: $firstColor;
        }

        @media (max-width: 270px) {
          &:last-child {
            margin: 10px 0;
          }
        }
      }

      @media (max-width: 270px) {
        display: flex;
        flex-direction: column;
        width: fit-content;
      }
    }

    @media (max-width: $firstQuery) {
      // margin-left: 0;
      flex-direction: column;
      order: 2;
      // margin-top: 5%;
      width: 90%;
      // margin-top: 40px;
      height: auto;
    }
    @media (max-width: $secondQuery) {
      margin-left: 5%;
    }
  }

  .content-about {
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(90% - 75px);

    @media (max-width: $firstQuery){
      margin-left: 5%;
      width: 90%;
    }
    @media (max-height: 400px){
      padding: 200px 0 75px;
    }
    @media (max-width: $secondQuery){
      padding: 0;
      flex-direction: column;
      width: 80%;
      margin: 0;
    }

    .text {
      width: 55%;

      @media (max-width: $firstQuery){
        width: 60%;
      }
      @media (max-width: $secondQuery){
        width: 100%;
        margin-bottom: 25px;
      }

      h1 {
        color: $secondColor;
        font-size: 60px;
        margin: 0;

        @media (max-width: 894px) {
          font-size: 3.125em;
        }
      }

      p {
        font-size: 18px;
        margin-bottom: 0;

        @media (max-width: 894px) {
          font-size: 1em;
        }

        a {
          text-decoration: none;
          color: $secondColor;

          &:hover {
            color: #dbdb00;
          }
        }
      }
    }

    .skills {
      width: 45%;
      margin: 0 5%;
      display: flex;
      align-items: center;

      @media (max-width: $firstQuery){
        width: 40%;
      }
      @media (max-width: $secondQuery) {
        // margin: 5% 0;
        // padding: 3% 0 10%;
        margin: 0;
        width: 100%;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0;
        // grid-template-columns: repeat(4,1fr);

        li {
          list-style: none;
          white-space: wrap;
          font-size: 1em;
          display: flex;
          align-items: center;
          padding: 8px 6px;
          border-radius: 5px;
          margin: 3px;
          color: $thirdColor;

          i {
            margin-right: 5px;
          }
        }

        .Html5 {
          background-color: rgb(255, 68, 11);
        }
        .Css3 {
          background-color: rgb(27, 31, 224);
        }
        .Pug {
          background-color: #a86454;
        }
        .Javascript {
          background-color: rgb(221, 202, 31);
        }
        .Sass {
          background-color: rgb(197, 41, 171);
        }
        .Git {
          background-color: rgb(233, 82, 23);
        }
        .GitHub {
          background-color: rgb(71, 71, 71);
        }
        .Php {
          background-color: rgb(94, 35, 189);
        }
        .Java {
          background-color: rgb(245, 44, 44);
        }
        .Sql {
          background-color: rgb(143, 143, 143);
        }
      }
    }
  }

  @media (max-width: $firstQuery) {
    // height: auto;
    flex-direction: column;
    justify-content: center;
    &::after {
      background-position: center right;
      opacity: 0.3;
    }
  }

  @media (max-width: $secondQuery) {
    &::after {
      background-position: center center;
      background-size: 80%;
      opacity: 0.1;
    }
  }

  @import "navigation";
}

.principal {
  &::after {
    content: "";
    background-image: url(../images/front.svg);
    background-repeat: no-repeat;
    background-position: center right 12%;
    background-size: 45%;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
