.navigation {
  background-color: $fourthColor;
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 999;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    width: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 25%;
    // border: 1px solid red;

    img {
      margin-top: 15px;
      width: 30px;
      // border: 1px solid red;

      @media (max-width: $firstQuery) {
        margin: 0;
        // width: 20%;
        // margin-left: -20px;
      }
    }

    .burger {
      display: none;
      // width: 40%;
      text-decoration: none;
      // border: 1px solid red;

      i {
        font-size: 22px;
        color: $thirdColor;
      }

      &:hover {
        i {
          color: $secondColor;
        }
      }

      @media (max-width: $secondQuery) {
        // display: flex;
        // justify-content: start;
        justify-content: flex-end;
      }
    }

    @media (max-height: 550px) {
      height: 10%;
    }
    @media (max-width: $firstQuery) {
      // border: 1px solid red;
      height: auto;
      width: 20%;
      // margin-left: 15px;
      justify-content: center;
    }
    @media (max-width: $secondQuery) {
      // width: 10%;
      // width: auto;
      // justify-content: space-between;
      // justify-content: flex-end;
    }
  }

  .menu,
  .social {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: $firstQuery) {
      flex-direction: row;
      margin: 0;
    }
  }

  .menu {
    height: 50%;
    // border: 1px solid red;

    .link {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 65px;
      color: $thirdColor;

      i {
        font-size: 1.8em;
        color: $thirdColor;

        @media (max-height: 550px) {
          font-size: 24px;
        }
        @media (max-width: $firstQuery) {
          font-size: 1.8em;
        }
      }

      span {
        display: none;
      }

      &:hover {
        color: $secondColor;

        i {
          display: none;
        }

        span {
          display: flex;
        }
      }

      @media (max-height: 550px) {
        height: 45px;
      }
      @media (max-width: $firstQuery) {
        width: 9vw;
        height: 40px;
      }
      @media (max-width: $secondQuery) {
        width: 15vw;
        height: 50px;
      }
    }

    .active {
      color: $secondColor;

      i {
        color: $secondColor;
      }
    }

    @media (max-width: $firstQuery) {
      // border: 1px solid red;
      height: 60px;
      // width: 60%;
      position: fixed;
      justify-content: space-evenly;
      z-index: 998;
      // top: 65px;
      bottom: 0;
      width: 100%;
      background-color: #151515;
      // left: 100%;
      transition: all 0.3s ease-out;
    }
    @media (max-width: $secondQuery) {
    }
  }

  .show-menu {
    left: 0;
  }

  .social {
    height: 25%;
    // border: 1px solid red;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      text-decoration: none;

      i {
        margin-bottom: 10px;
        font-size: 1.56em;
        color: $thirdColor;

        &:hover {
          color: $secondColor;
        }

        @media (max-height: 550px) {
          font-size: 20px;
        }
        @media (max-width: $firstQuery) {
          font-size: 1.56em;
          margin-bottom: 0;
        }
      }

      @media (max-height: 550px) {
        height:35px;
      }
      @media (max-width: $firstQuery) {
        width: 40px;
        height: 40px;
      }
      @media (max-width: $secondQuery) {
        width: 30px;
      }
    }

    @media (max-height: 550px) {
      margin-bottom: 10px;
    }
    @media (max-width: $firstQuery) {
      // border: 1px solid red;
      margin-bottom: 0;
      height: auto;
      width: 20%;
      margin-right: 20px;
    }
    @media (max-width: $secondQuery) {
      // display: none;
    }
  }

  @media (max-width: $firstQuery) {
    width: 100%;
    height: 60px;
    order: 1;
    flex-direction: row;
    align-items: center;
    top: 0;
  }

  @media (max-width: $secondQuery) {
    // justify-content: space-evenly ;
  }
}
