@import url(index.css);

.about {
  padding: 110px 0 55px;
}
.about__link {
  text-decoration: none;
  color: var(--firstHover);
  font-weight: 500;
}
.link-hover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
.link-hover::after {
  content: "";
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0.15rem solid #fff;
  outline-offset: -1.2rem;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
}
.certificates__img {
  transition: all 0.3s ease-in-out;
}
.content__certificates a:hover .certificates__img {
  opacity: 0.4;
}
.link-hover:hover:after {
  transform: scale(1);
}
.about__content {
  color: var(--firstColor);
}
.about .content__title {
  font-weight: 500;
  font-size: 2em;
  padding: 15px;
}
.about .content__container {
  display: grid;
  grid-template-columns: 100%;
  padding: 15px;
}
.about .content__card {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "frontend"
    "backend"
    "databases";
  margin: 0 15px 15px;
}
.about .content__card div {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.09);
  color: #fff;
  padding: 30px;
  text-align: center;
}
.about .content__card div:nth-of-type(1) {
  grid-area: databases;
}
.about .content__card div:nth-of-type(2) {
  grid-area: backend;
}
.about .content__card div:nth-of-type(3) {
  grid-area: frontend;
}
.about .content__card i {
  font-size: 32px;
}
.about .content__card h4 {
  font-size: 1.57em;
  font-weight: 600;
  margin: 15px 0;
}
.about .content__card li {
  list-style: none;
  font-weight: lighter;
  font-size: 1em;
}
.column-grid-frontend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about .content__description {
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  margin-bottom: 15px;
}
.about .content__description div {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  margin-top: -70px;
}
.about .content__description h2 {
  align-self: center;
  padding: 15px 0;
  font-size: 1.7em;
}
.about .content__description p {
  padding: 0 15px;
  font-weight: lighter;
  text-align: center;
  font-size: 1em;
}
.about .content__description h3 {
  padding: 20px 0 15px;
  font-size: 1.3em;
  padding-left: 30px;
}
.about .content__description ul {
  padding-left: 30px;
  padding-right: 15px;
  padding-bottom: 25px;
}
.about .content__description li {
  list-style: none;
}
.about .content__description img {
  align-self: center;
  width: 159px !important;
  height: 160px !important;
  object-fit: cover;
  border-radius: 50%;
}
.about .content__certificates {
  display: grid;
  grid-template-columns: 100%;
}
.about .content__certificates a:first-of-type {
  margin-bottom: 15px;
}
.about .content__certificates a {
  transition: all 0.4s ease-in-out;
}
.about .content__certificates img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-show {
  display: none;
}
@media screen and (min-width: 481px) {
  .about {
    padding-bottom: 0;
    min-height: calc(100vh - 110px);
    display: flex;
    align-items: center;
  }
  .about .content__certificates {
    grid-template-columns: repeat(2, 50%);
  }
  .about .content__certificates a:first-of-type {
    margin-bottom: 0;
    margin-right: 7.5px;
  }
  .about .content__certificates a:nth-of-type(2) {
    margin-left: 7.5px;
  }
  .about .content__card {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "frontend frontend"
      "backend databases";
  }
  .column-grid-frontend {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 769px) {
  .about {
    padding: 110px 0 0;
  }
  .about .content__title {
    font-size: 2.5em;
  }
  .about .content__container {
    grid-template-columns: 60% 40%;
    padding: 15px;
  }
  .about .content__certificates {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 0 0;
  }
  .about .content__description p {
    text-align: left;
    padding-left: 30px;
  }
  .about .content__description {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .about .content__certificates a:first-of-type {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .about .content__certificates a:nth-of-type(2) {
    margin-left: 0;
  }
  .about .content__certificates img {
    max-height: 310px;
  }
  .about .content__card {
    gap: 0;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "databases backend frontend";
  }
  .about .content__card div:nth-of-type(1) {
    margin-right: 15px;
  }
  .about .content__card div:nth-of-type(2) {
    margin-right: 15px;
  }
  .column-grid-frontend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1025px) {
  .img-show {
    display: block;
  }
  .about .content__container {
    grid-template-columns: 50% 50%;
  }
  .about .content__certificates {
    grid-template-columns: 50% 50%;
  }
  .about .content__certificates a:first-of-type {
    margin-bottom: 7.5px;
    margin-right: 7.5px;
  }
  .about .content__certificates a:nth-of-type(2) {
    margin-left: 7.5px;
    margin-bottom: 7.5px;
  }
  .about .content__certificates a:nth-of-type(3) {
    margin-right: 7.5px;
    margin-top: 7.5px;
  }
  .about .content__certificates a:nth-of-type(4) {
    margin-left: 7.5px;
    margin-top: 7.5px;
  }
  .about .content__certificates img {
    max-height: 250px;
  }
  .about .content__card li {
    font-size: 1.15em;
  }
  .column-grid-frontend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
