@import url(index.css);

.home .container {
  align-items: center;
  display: flex;
  height: 100vh;
}
.home__content {
  margin: auto;
  color: var(--firstColor);
}
.home .content__title {
  font-weight: 500;
  font-size: 2em;
}
.home .important {
  color: var(--firstHover);
}
.home .pointer {
  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home__link {
  border: 1px solid var(--firstHover);
  border-radius: 2px;
  color: var(--firstHover);
  font-size: 1.15em;
  font-weight: 400;
  margin-top: 5px;
  outline: none;
  padding: 5px 10px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  width: max-content;
}
.home__link:hover {
  background-color: var(--firstHover);
  color: #000;
}
